//-------------Quote---------------------//
.quote{
    svg{
        color: var(--primary-color);
        font-size: 1.5em;
        margin-right: .5em;
    }
    .quote-text{
        margin-top: 3.8em;
        font-size: 1.1em;
        line-height: 1.2;
        color: var(--text-color);
    }
    .quote-author{
        color: var(--text-light);
        text-align: right;
        margin-top: 1.2em;
    }
}