@import "partials/animations.scss" ;
@import "partials/nav_side_bar.scss" ;
@import "partials/explore.scss";
@import "partials/improve.scss";
@import "partials/quote.scss";
@import "partials/topChef.scss";

:root{
    --background-color: #fff;
    --background-light: #fff;
    --shadow-color: rgba(0,0,0,0.2);
    --primary-color: rgba(248, 19, 76, 0.801);
    --text-color: #0A0A0A;
    --text-light: #575757;
    --font-size: 16px;
    --animation-speed: 1;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: var(--font-size);
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    color: var(--text-color);
}
img{
    object-fit: cover;
}
//--------------------Footer-----------------------//
.footer{
    background-color: #0f0f0f;
    color: #fff;
    padding-block: 3em;
    margin-top: 2em;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 1em;
    .footer-section{
        p{
            opacity: 0.9;
            margin-bottom: .5em;
        }
        p.title{
            opacity: 1;
            font-size: 1.1em;
            font-weight: bold;
            margin-bottom: 1em;
        }
    }
}


//--------------------Media Queries-------------------------//
@media screen and (max-width: 1200px){
    .container{
        padding-inline: 18vw;
    }
}
@media screen and (max-width: 1050px){
    .container{
        padding-inline: 12vw;
    }
}
@media screen and (max-width: 768px){
    .navbar{
        .nav-links{
            display: none;
        }
        .sidebar-btn{
            display: block;
        }
    }
    .chef{
        box-shadow: 0 5px 10px var(--shadow-color);
    }
    .container{
        padding-inline: 6vw;
    }
    .explore{
        .col{
            width: 100%;
            text-align: center;
            padding: 0;
            margin: 2.5em 0;
            .info{
                width: 100%;
            }
        }

    }
    .improve-section{
        .col{
            .titlee{
                margin-left: 0;
            }
            .skills{
                display: inline-block;
                margin:1em 1em 0.75em 0;
            }
            .btn{
                display: block;
                margin-left: 50%;
                transform: translateX(-50%);
            }
        }
    }
    .footer{
        grid-template-columns: repeat(4 1fr);
        .footer-section{
            &:nth-child(1){
                grid-column: span 4;
            }
            &:nth-child(2), &:nth-child(3){
                grid-column: span 2;
            }
        }
    }
    
}
@media screen and (max-width: 515px){

}