@import "partials/animations.scss" ;
@import "partials/nav_side_bar.scss" ;
@import "partials/explore.scss";
@import "partials/improve.scss";
@import "partials/quote.scss";
@import "partials/topChef.scss";
@import "partials/footer.scss";
@import "partials/previous_searches.scss";

:root{
    --background-color: #fff;
    --background-light: #fff;
    --shadow-color: rgba(0,0,0,0.2);
    --primary-color: rgba(248, 19, 76, 0.801);
    --text-color: #0A0A0A;
    --text-light: #575757;
    --font-size: 16px;
    --animation-speed: 1;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: var(--font-size);
    font-family: 'Roboto', sans-serif;
    padding-top: 55px;
}
a{
    text-decoration: none;
    color: var(--text-color);
}
img{
    object-fit: cover;
}
//-------------------Recipe container--------------------//
.recipe-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 1.5em;
    margin-top: 2.4em;
    .recipe-card{
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 5px 12px var(--shadow-color);
        .recipe-card-info{
            padding: 15px;
        }
        .custom-image{
            z-index: -1;
        }
        .author-img{
            height: 50px;
            width: 50px;
            border-radius: 50%;
            z-index: 2;
            border: 3px solid var(--background-color);
            box-shadow: 0 1px 3px var(--shadow-color);
            margin-top: -60px;
        }
        .recipe-title{
            font-size: 1.25em;
            font-weight: bold;
            margin-bottom: .5em;
            color: var(--text-color);
            margin-top: .25em;
        }
        .recipe-desc{
            color: var(--text-light);
            font-size: .9em;
            letter-spacing: 1px;
        }
        .view{
            display: inline-block;
            font-size: 1em;
            font-weight: bold;
            color: var(--primary-color);
            margin-top: .5em;
            text-decoration: none;
        }
    }
}

//--------------------Media Queries-------------------------//
@media screen and (max-width: 1200px){
    .container{
        padding-inline: 18vw;
    }
}
@media screen and (max-width: 1050px){
    .container{
        padding-inline: 12vw;
    }
}
@media screen and (max-width: 768px){
    .navbar{
        .nav-links{
            display: none;
        }
        .sidebar-btn{
            display: block;
        }
    }
    .chef{
        box-shadow: 0 5px 10px var(--shadow-color);
    }
    .container{
        padding-inline: 6vw;
    }
    .explore{
        .col{
            width: 100%;
            text-align: center;
            padding: 0;
            margin-bottom: 3em;
            .info{
                width: 100%;
            }
        }

    }
    .improve-section{
        .col{
            .titlee{
                margin-left: 0;
            }
            .skills{
                display: inline-block;
                margin:1em 1em 0.75em 0;
            }
            .btn{
                display: block;
                margin-left: 50%;
                transform: translateX(-50%);
            }
        }
    }
    .footer{
        grid-template-columns: repeat(4 1fr);
        .footer-section{
            &:nth-child(1){
                grid-column: span 4;
            }
            &:nth-child(2), &:nth-child(3){
                grid-column: span 2;
            }
        }
    }
    
}
@media screen and (max-width: 1132px) and (min-width: 778px){
    .explore .col .btn{
        text-align: center;
        font-size: 0.8em;
        width: 30%;
    }
}
