@import "partials/animations.scss" ;
@import "partials/nav_side_bar.scss" ;
@import "partials/explore.scss";
@import "partials/improve.scss";
@import "partials/quote.scss";
@import "partials/topChef.scss";
@import "partials/footer.scss";
@import "partials/previous_searches.scss";
@import "partials/recipes.scss";

:root{
    --background-color: #fff;
    --background-light: #fff;
    --shadow-color: rgba(0,0,0,0.2);
    --primary-color: rgba(248, 19, 76, 0.801);
    --text-color: #0A0A0A;
    --text-light: #575757;
    --font-size: 16px;
    --animation-speed: 1;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: var(--font-size);
    font-family: 'Roboto', sans-serif;
    padding-top: 55px;
    background-color: var(--background-light);
}
a{
    text-decoration: none;
    color: var(--text-color);
}
img{
    object-fit: cover;
}
//-----------------------Settings---------------------------//
.section{
    h2{
        font-size: 1.75em;
        margin-top: 1em;
        color: var(--text-color);
    }
}
.options-container{
    box-shadow: 0 5px 10px var(--shadow-color);
    padding: 1em;
    border-radius: 5px;
    border-left: .5em solid var(--primary-color);
    background-color: var(--background-light);
    margin-top: 1em;
    display: flex;
    gap: 1.2em;
    .option{
        height: 3.5em;
        width: 3.5em;
        box-shadow: 0 3px 6px var(--shadow-color);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        &.light{
            background-color: #fff;
        }
        &.dark{
            background-color: rgb(29, 29, 29); 
        }
        // .check{
        //     height: 2.5em;
        //     width: 2.5em;
        //     background-color: var(--primary-color);
        //     display: flex;
        //     justify-content: center;
        //     align-items: center;
        //     border-radius: 50%;
        //     box-shadow: 0 2px 5px var(--shadow-color);
        // }
        svg{
            opacity: 0;
        }
    }
    .btn{
        border: none;
        outline: none;
        text-align: center;
        background-color: var(--primary-color);
        color: #fff;
        padding: 0.75em 0.75em;
        text-transform: uppercase;
        font-size: 0.8em;
        font-weight: bold;
        border-radius: 3px;
        letter-spacing: 1px;
        box-shadow: 0 2px 6px var(--shadow-color);
        &:hover{
            box-shadow: 0 1px 3px var(--shadow-color);
        }
    }
    .btn{
        z-index: 2;
        svg{
            z-index: 1;
            visibility: hidden;
        }
    }
}

//--------------------Media Queries-------------------------//
@media screen and (max-width: 1200px){
    .container{
        padding-inline: 18vw;
    }
}
@media screen and (max-width: 1050px){
    .container{
        padding-inline: 12vw;
    }
}
@media screen and (max-width: 768px){
    .navbar{
        .nav-links{
            display: none;
        }
        .sidebar-btn{
            display: block;
        }
    }
    .chef{
        box-shadow: 0 5px 10px var(--shadow-color);
    }
    .container{
        padding-inline: 6vw;
    }
    .explore{
        .col{
            width: 100%;
            text-align: center;
            padding: 0;
            margin-bottom: 3em;
            .info{
                width: 100%;
            }
        }

    }
    .improve-section{
        .col{
            .titlee{
                margin-left: 0;
            }
            .skills{
                display: inline-block;
                margin:1em 1em 0.75em 0;
            }
            .btn{
                display: block;
                margin-left: 50%;
                transform: translateX(-50%);
            }
        }
    }
    .footer{
        grid-template-columns: repeat(4 1fr);
        .footer-section{
            &:nth-child(1){
                grid-column: span 4;
            }
            &:nth-child(2), &:nth-child(3){
                grid-column: span 2;
            }
        }
    }
    
}
// @media screen and (max-width: 1132px) and (min-width: 778px){
//     .explore .col .btn{
//         text-align: center;
//         font-size: 0.8em;
//         width: 30%;
//     }
// }
